@import url("aside.css");

main{
    display: flex;
    flex:3
}
.left--content{
    flex:3;
    flex-wrap: wrap;
}
aside{
    flex:1;
}
.courses{
    padding-top:2rem;
}

aside h2{
    padding-top: 2rem;
}