.footer_name{
    color: red;
    display: flex;
    font-size: 2rem;
}

.footer_container{
    border: royalblue 3px solid;
    background-color: slateblue;
    display: flex;
    justify-content: space-around;
}

.footer_container a {
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_container img {
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer_info{
    flex-wrap: wrap;
    color: lightpink;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer_info p {
    display: flex;
}
 .comp_image1 img{
     display: flex;
     max-width: 10em;
 }

 .footer__content img{
    transform: rotate(180deg);
    pad: 10px;
 }

 .comp_image2 img{
    display: flex;
    max-width: 10em;
    
 }
 /*.arrow left{
    border: gold;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

 }
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}*/