.footer_name{
    color: red;
    display: flex;
    font-size: 2rem;
}

.footer_container{
    border: royalblue 3px solid;
    background-color: slateblue;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer_container a {
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_container img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_info{
    flex-wrap: wrap;
    color: lightpink;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer_info p {
    display: flex;
}
