
h2 {
    font-family: impact;
    font-size: 3rem;
    animation: color-change 1s infinite;
    text-align: center;
}


section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.instructor {
    margin: 0.5rem 1rem;
    flex-basis: 25%;
}