@import url("./navbar.css");
@import url("./instructors.css");
@import url("./aside.css");
@import url("./footer.css");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background: goldenrod;
}

.container-left {
    flex: 3;
}


